@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Vazirmatn:wght@100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--bg-color);
  width: 100vw;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  font-size: 1rem;
}
